@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/bg\ 2.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    color: white;
    letter-spacing: 0.5px;
}

/* .container{
    margin-left: 900px;
} */
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.heading{
    text-align: center;
}
.heading h2{
    font-family: 'Inspiration', cursive;
    font-size: 50px;
    margin-top: 10px;
}

.heading p{
    font-size: 12px;
}

.box{
    width: 50px;
    height: 50px;
    text-align: center;
}

.box h2{
    font-weight: 500;
}

.box small{
    font-size: 10px;
}

@media (min-width:576px) {
    .heading h2{
        font-size: 60px;
    }
    .heading p{
        font-size: 14px;
    }
    .box{
        width: 65px;
        height: 70px;
        text-align: center;
    }
    .box h2{
        font-size: 30px;
    }
    .box small{
        font-size: 14px;
    }
    /* .container{
        margin-left: 100px;
    } */
    
}

@media (min-width:768px) {
    .heading h2{
        font-size: 90px;
    }
    .heading p{
        font-size: 15px;
        letter-spacing: 2px;
        color: #7C685F;
    }
    .box{
        width: 80px;
        height: 100px;
        text-align: center;
    }
    /* .container{
        margin-left: 500px;
    } */
    .box h2{
        font-size: 40px;
    }
    .box small{
        font-size: 18px;
    }
    
}